body {
  background-color: #C0D3DC;
  font-family: 'Sriracha', cursive;
}

hr {
  border-style: none;
  height: 2px;
  width: 75%;
  border-top: 5px dotted #3A6B83;
}

h1 {
  color: #3A6B83;
  text-align: center;
  font-family: 'Squada One', cursive;
}

h2 {
  color: #3A6B83;
}

.ProfilePicture{
  border-radius: 100%;
}
.ProfilePicture:hover{
  border-radius: 0%;
}
